.content {
    text-align: initial;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.string {
    color: #a5d6ff;
}

.number {
    color: #ad26f9;
}

.symbol {
    color: #ce06ce;
}

.keymethod,
.selector {
    color: #6495ed;
}


pre {
    background: #151b23;
    color: #f8f8f2;
    padding: 1em;
    border-radius: 8px;
    overflow-x: auto;
    min-height: max-content;
}

code {
    font-family: "Fira Code", monospace, 'Courier New', Courier;
    white-space: pre-wrap;
    min-height: max-content;
}

.keyword {
    color: #ff5b3c;
}

.method {
    color: #c6a8dc;
}

.tag {
    color: #9b9b7c;
}

.tag-name, .value {
    color: #5ce76d;
}

.identifier,
.property {
    color: #35a1ff;
}

.comment {
    font-style: italic;
    color: #3b414d;
}
.vhost-tag{
    color: #254cfa;
}